<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vectortwo.healthkeeper">

    <uses-feature android:name="android.hardware.sensor.stepcounter"
                  android:required="false"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider android:name=".data.db.DBContentProvider"
                  android:exported="false"
                  android:authorities="com.vectortwo.healthkeeper.HealthProvider">
        </provider>

        <service android:name=".services.PedometerService"
                 android:description="@string/descriptionServiceSteps"/>

        <service android:name=".services.CheckArchiveService"
                 android:description="@string/descriptionServiceArchiver"/>

        <service android:name=".services.DrugNotifyService"/>

        <service android:name=".services.RestoreDrugNotifyService"/>

        <receiver android:name=".receivers.BootCompletedReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.DrugNotifyReceiver">
            <intent-filter>
                <action android:name="com.vectortwo.healthkeeper.broadcast.DRUG_NOTIFY_SCHEDULE"/>
                <action android:name="com.vectortwo.healthkeeper.broadcast.DRUG_NOTIFY_SCHEDULE_NOTIFY"/>
                <action android:name="com.vectortwo.healthkeeper.broadcast.DRUG_NOTIFY_CANCEL"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>