<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vectortwo.healthkeeper">

    <uses-feature android:name="android.hardware.sensor.stepcounter"
                  android:required="false"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:resizeableActivity="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".activities.main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.main.MainActivity"
                android:label="@string/title_activity_welcome"
                android:theme="@style/AppTheme"/>
        <!-- Theme.AppCompat.NoActionBar -->
        <activity
                android:name=".activities.medicament.MedicamentActivity"
                android:label="@string/title_activity_medicament"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.walking.WalkingActivity"
                android:label="@string/title_activity_walking"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.pressure.PressureActivity"
                android:label="@string/title_activity_pressure"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.weight.WeightActivity"
                android:label="@string/title_activity_weight"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.aqua.AquaActivity"
                android:label="@string/title_activity_aqua"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.blood.BloodSugarActivity"
                android:label="@string/title_activity_blood_sugar"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.sleep.SleepActivity"
                android:label="@string/title_activity_sleep"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.menu_settings.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.menu_settings.AboutActivity"
                android:label="@string/title_activity_about"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.menu_settings.ElementsSettingsActivity"
                android:label="@string/title_activity_elements_settings"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.menu_settings.NotificationSettingsActivity"
                android:label="@string/title_activity_notification_settings"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".activities.medicament.search.MedicamentSearchSActivity"
                android:label="@string/title_activity_medicament_search_s"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme">

            <!-- This intent-filter identifies this activity as "searchable" -->


            <!-- This metadata entry provides further configuration details for searches -->
            <!-- that are handled by this activity. -->

        </activity>

        <activity android:name=".activities.medicament.edit.EditDrugActivity"
                  android:windowSoftInputMode="adjustResize"
        ><!--android:configChanges="orientation|keyboardHidden" -->
        <!--  android:windowSoftInputMode="adjustResize" -->
            <intent-filter>
                <action android:name="com.vectortwo.healthkeeper.intent.ADDDRUG"/>
                <action android:name="com.vectortwo.healthkeeper.intent.EDITDRUG"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Backend components-->
        <provider android:name=".data.db.DBContentProvider"
                  android:exported="false"
                  android:authorities="com.vectortwo.healthkeeper.HealthProvider">
        </provider>

        <service android:name=".services.PedometerService"
                 android:description="@string/descriptionServiceSteps"/>

        <service android:name=".services.DrugArchiveService"
                 android:description="@string/descriptionServiceArchiver"/>

        <service android:name=".services.DrugNotifyService"/>

        <service android:name=".services.RestoreDrugNotifyService"/>

        <service android:name=".services.DrugArchiveExpiredService"/>

        <service android:name=".services.RestoreDrugNotifyService"/>

        <receiver android:name=".receivers.BootCompletedReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.DrugNotifyReceiver"/>

    </application>

</manifest>